.container-content {
    text-align: left;
    margin-top: 20px; 
   }

.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    height: 100%;
}

@media (max-width: 767.98px) {
    .card img-fit {
        aspect-ratio: 1.45 / 1;
    }
}